.product-card {
  height: 430px;

  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;

  background: white;
  box-sizing: border-box;
  /* border-radius: var(--radius); */
  box-shadow: 0px 0px 10px var(--clr-gray200);
}

.product-card .product-image {
  position: relative;
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.product-image .product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-image .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.product-image .card-btn:hover {
  background: #efefef;
}

.product-info .product-brand {
  text-transform: uppercase;
}

.product-info .product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.product-info .price {
  font-weight: 900;
  font-size: 20px;
}

.product-info .actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
