.profile-pop-up-menu .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 10px;
  padding: 10px 25px 10px 25px;
  background: white;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px var(--clr-gray200);
  border-radius: var(--radius);
  z-index: 100;
}
.menu .pop-up-profile-img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  overflow: hidden;
  padding: 1px;
}
.menu .pop-up-profile-img img {
  /* border-radius: 50%; */
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu h3 {
  margin: 0;
  margin-top: 5px;
}
.menu p {
  margin: 0;
}
.menu button {
  padding: 3px 10px 3px 10px;
  margin-top: 10px;
  background: none;
  border-radius: var(--radius);
  border: none;
  box-shadow: 0px 0px 1px var(--clr-primary-dark);
  font-size: 15px;
  /* font-weight: 350; */
  color: var(--clr-primary-dark);
}
.menu button:hover {
  color: var(--clr-hoverclr);
  /* box-shadow: none; */
}
.profile-pop-up-menu .menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 25px;
}
.profile-pop-up-menu .menu ul li {
  list-style: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-pop-up-menu .menu ul li img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  opacity: 0.5;
  transition: 0.5s;
}

.profile-pop-up-menu .menu ul li:hover img {
  opacity: 1;
}

.profile-pop-up-menu .menu ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1px;
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.profile-pop-up-menu .menu ul li:hover a {
  color: var(--clr-hoverclr);
}
.menu .logout-button {
  box-shadow: none;
}
.menu .logout-button:hover {
  box-shadow: none;
  color: var(--clr-hoverclr);
}
