$custom-amethyst-palette: (
  50: #f4ecf5,
  100: #e4d1e6,
  200: #d2b2d6,
  300: #bf93c6,
  400: #b27bb9,
  500: #a464ad,
  600: #9c5ca6,
  700: #92529c,
  800: #894893,
  900: #783683,
  A100: #f8d1ff,
  A200: #f09eff,
  A400: #e86bff,
  A700: #e452ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$custom-purple-palette: (
  50: #eae5ef,
  100: #cabed7,
  200: #a893bd,
  300: #8869a4,
  400: #704b91,
  500: #5a2e7f,
  600: #53297a,
  700: #492272,
  800: #3f1c69,
  900: #30105c,
  contrast: (
    50: black,
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  ),
);
